<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AACActivity"
            android:exported="false"
            android:label="@string/title_activity_aac"
            android:theme="@style/Theme.Design" />
        <activity
            android:name=".AMSND"
            android:exported="false"
            android:label="@string/title_activity_amsnd"
            android:theme="@style/Theme.Design" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Design" />
        <activity
            android:name=".SettingsHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_settings_home"
            android:theme="@style/Theme.Design" />
        <activity
            android:name=".SystemPromptActivity"
            android:exported="false"
            android:label="@string/title_activity_viewsystemprompt"
            android:theme="@style/Theme.Design" />
        <activity
            android:name=".Bookmarks"
            android:exported="false"
            android:label="@string/bookmarks"
            android:theme="@style/Theme.Design" />
        <activity
            android:name=".NewBookmarkPop"
            android:exported="false"
            android:label="@string/addbookmark"
            android:theme="@style/Theme.New_app.Popup" />
        <activity
            android:name=".RemoveBookmarkPop"
            android:exported="false"
            android:label="@string/removebookmark"
            android:theme="@style/Theme.New_app.Popup" />
        <activity
            android:name=".ShowPlaySharedDb"
            android:exported="false"
            android:label="@string/userselectcharacters_clouddb"
            android:theme="@style/Theme.Design" />
    </application>

</manifest>